.pointer {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	position: absolute;
	display: flex;
	background-color: black;
}

body {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}
textarea {
	outline: none;
}
textarea {
	background: transparent;
	position: absolute;
    top: -11px;
    border: none;
    left: 20px;
    resize: none;
    min-width: 100px;
    min-height: 20px;
}
.vertical textarea
 {
 	top: 5px;
    left: -7px;
 	height: 100px;
    width: 20px;
    min-width: 14px;
    font-size: 13px;
 }